@import "mixins";

.add-container {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;

  .add-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    & > * {
      margin-bottom: 45px;
    }

    .input-label {
      font-family: "Inter", sans-serif;
      display: flex;
      flex-direction: column;

      .input-style {
        height: 30px;
        border-style: none;
        border-bottom: 2px solid black;
      }

      .time-input-label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .clock-svg {
          position: absolute;
          left: 0;
          width: 50px;
          height: 50px;
        }
      }
    }

    .react-datepicker__input-container {
      display: flex;
      justify-content: center;
    }

    .buttons-add {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 70px;

      .cancel-add-button {
        @include button-style-purple;
        width: 124px;
        height: 41px;
      }

      .add-button {
        @include button-style-purple;
        width: 124px;
        height: 41px;
      }
    }
  }
}
