@mixin button-style-purple {
  background-color: #ad63f7;
  color: white;
  border-style: none;
  box-shadow: 0 1px 5px #8a1fbcb3;
  font-family: "Inter", sans-serif;
}

@mixin input-style {
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 48px;
  font-family: "Inter", sans-serif;
}

@mixin button-style-orange {
  background-color: #ff7e36;
  color: black;
  font-weight: bold;
  border-style: none;
  box-shadow: 0 1px 5px #ff74264d;
  font-family: "Inter", sans-serif;
  width: 124px;
  height: 41px;
}

@mixin list-style {
  background-color: #f70ee3;
  color: black;
  font-weight: bold;
  border-style: none;
  box-shadow: 0 1px 5px #924173d2;
  font-family: "Inter", sans-serif;
  width: 124px;
  height: 41px;
}
