@import "homepage";
@import "signup";
@import "edit";
@import "add";
@import "edit_todo";
@import "todolist";
@import "todolists";

html {
  display: flex;
  flex-direction: column;
  body {
    font-family: "Inter", sans-serif;
    background-color: #ad63f7;
  }
}

.app-links-container {
  display: flex;
  flex-direction: column;
}

.planner-header {
  align-self: center;

  h1 {
    display: inline-block;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
}

.logout-link {
  align-self: flex-end;

  span {
    padding-right: 20px;
    margin: 0;
    color: black;
    font-weight: bold;
    text-align: right;
    padding-left: 20px;
  }
}



a {
  text-decoration: none;
}

.app-container {
  max-height: 100vh;
  height: 100vh;
}


