@import "homepage";
@import "signup";
@import "edit";
@import "add";
@import "edit_todo";
@import "todolist";
@import "todolists";

html {
  display: flex;
  flex-direction: column;
  body {
    font-family: "Inter", sans-serif;
  }
}

h1 {
  display: flex;
  flex-direction: column;
  background-color: #ad63f7;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: black;
}

a {
  text-decoration: none;
}

.app-container {
  max-height: 100vh;
  height: 100vh;
}

.log-out-link {
  background-color: #ad63f7;
  margin: 0;
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}
